@using Pheko.WebPresentation.ViewModels;


@{
    ViewBag.Title = "User Administration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/ng-grid.css")" />
}

@section scripts{
    <script src="@Url.Content("~/Scripts/ng-grid.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Pheko/PhekoViewModels/useradminviewmodel.js")"></script>
}

<div ng-controller="SecurityUserController">
    <div class="div-block">
        <input type="submit" value="Create New User" id="btnCreateUser" name="Command" class="btn btn-primary btn-sm" ng-click="adduser()" />
    </div>

    <div id="UserGridContanier" class="gridStyle" ng-grid="gridOptions" ng-show="showgrid" data-ng-init="initialise()" data-url="@Url.Action("LoadUsers", "UserAdministration", new { area = "Admin" })">
    </div>

    <div ng-hide="showgrid">
        No data to display
    </div>

    <script type="text/ng-template" id="usermodal">
        @Html.Partial("SecurityUser", new SecurityUserViewModel());
    </script>

</div>

