@using Pheko.WebPresentation.ViewModels;

@model PatientVitalSignViewModel


@{
    ViewBag.Title = "Patient VitalSigns";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    @*<script src="@Url.Content("~/Scripts/Pheko/PhekoModels/patientvitalsignviewodel.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Pheko/PatientVitalSign/patientvitalsign.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Scripts/Pheko/PhekoViewModels/patientvitalsignviewmodel.js")" type="text/javascript"></script>
}

<div ng-controller="PatientVitalSignController">

    <form class="form-horizontal" id="frmSavePatientVitalSigns" enctype="multipart/form-data" method="post">

        <div class="panel panel-default" id="divPatientVitalSignsHolder" data-url="@Url.Action("GetPatientVitalSigns", "PatientVitalSigns", new { area = "PatientManagement" })">
            <div class="panel-heading">
                Patient Vital Signs
            </div>
            <div class="panel-body">
                <div class="formcontent container-fluid">
                    <div class="col-md-2"  ng-repeat="patientvitalsign in patientvitalsigns">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{patientvitalsign.VitalSign_Name}}</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.VitalSignValue, new { @class = "timetextbox form-control", ng_model = "patientvitalsign.VitalSignValue" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="formcontent container-fluid">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            @Html.ValidationSummary(true)
                        </div>
                    </div>
                    <div class="form-group buttons">
                        <div class="col-sm-offset-5 col-sm-7">
                            <input type="submit" value="Save" id="btnSave" name="Command" class="btn btn-primary btn-sm"  
                            ng-click="save('@Url.Action("SavePatientVitalSign", "PatientVitalSigns", new { area = "PatientManagement" })', 'frmSavePatientVitalSigns', 'divPatientVitalSignsHolder')" />
                            <input type="submit" value="Print" id="btnPrint" name="Command" class="btn btn-primary btn-sm" 
                               ng-click="print('@Url.Action("PrintPatientSchedule", "Patient", new { area = "PatientManagement" })', '@Url.Action("SavePatientVitalSign", "PatientVitalSigns", new { area = "PatientManagement" })', 'frmSavePatientVitalSigns', 'divPatientVitalSignsHolder')" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>

</div>
