<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="@Url.Action("PatientManagement", "PatientManagement", new { area = "PatientManagement" })">Home</a>
                </li>

                @if (PatientId != null)
                {
                    <li>
                        <a href="@Url.Action("Patient", "Patient", new { area = "PatientManagement" })">Patient</a>
                    </li>
                    <li>
                        <a href="@Url.Action("PatientConsultation", "PatientConsultation", new { area = "PatientManagement" })">Patient Consultation</a>
                    </li>
                    if (PatientConsulationId != null)
                    {
                        <li>
                            <a href="@Url.Action("PatientVitalSigns", "PatientVitalSigns", new { area = "PatientManagement" })">Patient Vital Signs</a>
                        </li>
                        <li>
                            <a href="@Url.Action("PatientMedicalNote", "PatientMedicalNote", new { area = "PatientManagement" })">Patient Medical Notes</a>
                        </li>
                    }
                }
                <li>
                    <a href="@Url.Action("UserAdministration", "UserAdministration", new { area = "Admin" })">Admin</a>
                </li>
            </ul>

        </div>
    </div>
</nav>
