@using Pheko.WebPresentation.ViewModels;
@using Pheko.WebPresentation.Utility;

@model PatientConsultationSickNoteViewModel

<div class="panel panel-primary">

    <div class="panel-body">
        <div class="container-fluid">
            <div class="form-group">
                @Html.Label("Sick From", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(model => model.SicknessReason, new { @class = "noteTextArea form-control", ng_model = "patientconsultationsicknote.SicknessReason" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Diagnoses", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(model => model.Diagnoses, new { @class = "noteTextArea form-control", ng_model = "patientconsultationsicknote.Diagnoses" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Sick leave Starts from", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    <div class="col-xs-3" style="padding-left: 0px;">
                        <p class="input-group">
                            <input type="text" class="form-control" datepicker-popup="@Constants.DATE_FORMAT" ng-model="patientconsultationsicknote.StartDate" is-open="startdateopened" 
                                min-date="'@Constants.MIN_DATE'" max-date="'@Constants.MAX_DATE'" datepicker-options="dateOptions" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openstartdatecalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    @Html.ValidationMessageFor(model => model.StartDate)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Sick leave Ends at", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    <div class="col-xs-3" style="padding-left: 0px;">
                        <p class="input-group">
                            <input type="text" class="form-control" datepicker-popup="@Constants.DATE_FORMAT" ng-model="patientconsultationsicknote.EndDate" is-open="enddateopened" 
                                    min-date="'@Constants.MIN_DATE'" max-date="'@Constants.MAX_DATE'" datepicker-options="dateOptions" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openenddatecalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    @Html.ValidationMessageFor(model => model.EndDate)
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" value="Print Sick Note" id="btnPrintSickNote" name="Command" class="btn btn-primary btn-sm" 
                           ng-click="printsicknote('@Url.Action("PrintPatientSickNoteSchedule", "PatientMedicalNote", new { area = "PatientManagement" })', '@Url.Action("SavePatientConsultationSickNote", "PatientMedicalNote", new { area = "PatientManagement" })')"/>
                </div>
            </div>
        </div>

    </div>
</div>

